body, p {
    color: #740001;
    background-color: #D3A625;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

#characters {
    margin: 0;
}

ul li {
    line-height: 2;
}


/*
Gryffindor Red. Hex #740001. RGB 116, 0, 1.
Gryffindor Gold. Hex #D3A625. RGB 211, 166, 37.
Slytherin Green. Hex #1A472A. RGB 26, 71, 42.
Slytherin Silver. Hex #5D5D5D. RGB 93, 93, 93.
Hufflepuff Yellow. Hex #FFD800. ...
Hufflepuff Black. Hex #000000. ...
Ravenclaw Blue. Hex #0E1A40. ...
Ravenclaw Bronze. Hex #946B2D.
*/